<div class="panel panel-primary m-1">
    <div class="panel-heading m-3">
        <h2>Cottage List</h2>
    </div>
    <div class="form-control form-control-lg  m-1">
        <input class="m-1" [(ngModel)]="SearchString" (keyup)="FilterFn()" placeholder="Filter">
    </div>
    <div *ngIf="cottages?.length" class="table-responsive m-1">
        <table class="table table-bordered table-striped table-hover" id="pharmaciesTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let cottage of cottages' (dblclick)="doubleClickFunction(cottage.id)">
                    <td>{{cottage.name}}</td>
                    <td>{{cottage.location.streetName}}, {{cottage.location.cityName}}, {{cottage.location.countryName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
