<div class="row">
    <div class="col-5">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card shadow-1-strong" style="border-radius: 1rem;">
                        <h1>Profile</h1>
                        <div class="profile">
                            <p>First name:&ensp;Aleksandar</p>
                            <p>Last name:&ensp;Savić</p>
                            <p>Email:&ensp;aleksandar.savic99@gmail.com</p>
                            <p>Street address:&ensp;Vojvode Stepe 3/25</p>
                            <p>City:&ensp;Doboj</p>
                            <p>Country:&ensp;BiH</p>
                            <p>Phone number:&ensp;066444222</p>
                        </div>
                        <div class="profile-buttons">
                            <button mat-raised-button color="primary">Change personal data</button>
                        </div>
                        <div class="profile-buttons">
                            <button mat-raised-button color="primary">Change password</button>
                        </div>
                        <div class="profile-buttons">
                            <button mat-raised-button color="primary">Send account deletion request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card shadow-1-strong" style="border-radius: 1rem;">
                        <h1>Fishing trips</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>