h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
    text-align: center;
}

.profile {
    padding: 30px;
    text-align: center;
    font-size: large;
}

.profile-buttons {
    padding: 15px 35px 15px 35px;
    text-align: center;
}