<mat-toolbar color="warn" class="navbar">
    <div *ngIf="role === null">
        <button mat-button id="base" [routerLink]="['']">Home</button>
        <button mat-button id="base" [routerLink]="['cottage']">Cottages</button>
        <button mat-button id="base" [routerLink]="['boat']">Boats</button>
        <button mat-button id="base" [routerLink]="['fishing-instructor']">Fishing instructors</button>
    </div>

    <div *ngIf="role === 'ROLE_COTTAGE_OWNER'">
        <button mat-button id="base" [routerLink]="['']">Home</button>
        <button mat-button id="base" [routerLink]="['cottage']">My Cottages</button>
    </div>
    
    <mat-menu #base="matMenu">
        <button mat-menu-item [routerLink]="['']">Home</button>
        <button mat-menu-item [routerLink]="['pharmacy-profiles']">All pharmacies</button>
        <button mat-menu-item [routerLink]="['promotions']">Promotions</button>
        <button mat-menu-item [routerLink]="['specifications']">Medicine specification</button>
    </mat-menu>

    <button *ngIf="role === 'ROLE_FISHING_INSTRUCTOR'" mat-button [routerLink]="['fishing-instructor-home']">Home</button>

    <button *ngIf="role === 'ROLE_ADMIN'" mat-button id="facility" [matMenuTriggerFor]="facility">Our Facility</button>
    <mat-menu #facility="matMenu">
        <button mat-menu-item [routerLink]="['hospital-map']">Hospital map</button>
        <button mat-menu-item [routerLink]="['moving-equipment']">Move equipment</button>
        <button mat-menu-item [routerLink]="['renovation']">Renovation</button>
        <button mat-menu-item [routerLink]="['shifts']">Shifts</button>
        <button mat-menu-item [routerLink]="['doctors']">Doctors</button>
    </mat-menu>
    
    <button *ngIf="role === 'a'" mat-button [matMenuTriggerFor]="pharmacies">Pharmacies</button>
    <mat-menu #pharmacies="matMenu">
        <button mat-menu-item [routerLink]="['registration']">Register pharmacy</button>
        <button mat-menu-item [routerLink]="['pharmacy-profiles']">All pharmacies</button>
        <button mat-menu-item [routerLink]="['promotions']">Promotions</button>
        <button mat-menu-item [routerLink]="['specifications']">Medicine specification</button>
    </mat-menu>

    <span class="example-spacer-notification"></span>

    <button *ngIf="role === null" mat-button [routerLink]="['login']">Log in</button>
    <button *ngIf="role === null" mat-button [routerLink]="['register-provider']">Register</button>
    <button *ngIf="role !== null" mat-button [routerLink]="['profile']">My profile</button>
    <button *ngIf="role !== null" mat-button (click)="logout()">Log out</button>
</mat-toolbar>