<mat-toolbar color="warn" class="navbar">
    <div *ngIf="role === null">
        <button mat-button id="base" [routerLink]="['']">Home</button>
        <button mat-button id="base" [routerLink]="['cottage']">Cottages</button>
        <button mat-button id="base" [routerLink]="['boat']">Boats</button>
        <button mat-button id="base" [routerLink]="['fishing-instructor']">Fishing instructors</button>
    </div>

    <div *ngIf="role === 'ROLE_CLIENT'">
        <button mat-button id="base" [routerLink]="['']">Home</button>
        <button mat-button id="base" [routerLink]="['cottage']">Cottages</button>
        <button mat-button id="base" [routerLink]="['boat']">Boats</button>
        <button mat-button id="base" [routerLink]="['fishing-instructor']">Fishing instructors</button>
    </div>

    <div *ngIf="role === 'ROLE_COTTAGE_OWNER'">
        <button mat-button id="base" [routerLink]="['']">Home</button>
        <button mat-button id="base" [routerLink]="['cottage']">My Cottages</button>
        <button mat-button id="base" [routerLink]="['profit']">My profit</button>
    </div>

    <div *ngIf="role === 'ROLE_BOAT_OWNER'">
        <button mat-button id="base" [routerLink]="['']">Home</button>
        <button mat-button id="base" [routerLink]="['boat']">My Boats</button>
        <button mat-button id="base" [routerLink]="['profit']">My profit</button>
    </div>

    <div *ngIf="role === 'ROLE_FISHING_INSTRUCTOR'">
        <button mat-button [routerLink]="['fishing-instructor-home']">Home</button>
        <button mat-button>Add fishing trip</button>
        <button mat-button [routerLink]="['add-availability-period']">Add available period</button>
        <button mat-button [routerLink]="['business-report']">Generate business report</button>
    </div>

    <span class="example-spacer-notification"></span>

    <button *ngIf="role === null" mat-button [routerLink]="['login']">Log in</button>
    <button *ngIf="role === null" mat-button [routerLink]="['register-provider']">Register</button>
    <button *ngIf="role !== null" mat-button [routerLink]="['profile']">My profile</button>
    <button *ngIf="role !== null" mat-button (click)="logout()">Log out</button>
</mat-toolbar>