<div class="row">
    <div class="col-5">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card shadow-1-strong" style="border-radius: 1rem;">
                        <h1>Cottage</h1>
                        <div class="profile">
                            <p>Name:&ensp;{{cottage.name}}</p>
                            <p>Description:&ensp;{{cottage.description}}</p>
                            <p>Rules:&ensp;{{cottage.rules}}</p>
                            <p>Room number:&ensp;{{cottage.roomNumber}}</p>
                            <p>Bed number:&ensp;{{cottage.bedNumber}}</p>
                            <p>Price per day:&ensp;{{cottage.pricePerDay}}</p>
                            <p>Location:&ensp;{{cottage.location.streetName}}, {{cottage.location.cityName}}, {{cottage.location.countryName}}</p>
                            <p>Additional services:&ensp;{{cottage.additionalServices}}</p>
                            <p>Owner's name:&ensp;{{cottage.cottageOwner.firstName}} {{cottage.cottageOwner.lastName}}</p>
                            <p>Owner's eMail:&ensp;{{cottage.cottageOwner.email}}</p>
                            <p>Owner's phone number:&ensp;{{cottage.cottageOwner.phoneNumber}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-3">
        <div *ngIf="cottage.pictures?.length" class="table-responsive m-1">
            <div class="panel-heading m-3">
                <h2>Pictures</h2>
            </div>
            <table class="table table-bordered table-striped table-hover" id="picturesTable">
                <tbody>
                    <tr *ngFor='let picture of cottage.pictures'>
                        <td><img [src]="picture.data" class="text-center mb-3" style="max-width: 700px;max-height: 700px;" alt="..."></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!cottage.pictures?.length">No pictures recorded</h3>
    </div>
</div>
