<div class="row">
    <div class="col-5">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card shadow-1-strong" style="border-radius: 1rem;">
                        <h1>Cottage</h1>
                        <div class="profile">
                            <p>Name:&ensp;{{cottage.name}}</p>
                            <p *ngIf="cottage.grade !== -1">Average grade:&ensp;{{cottage.grade}}</p>
                            <p *ngIf="cottage.grade === -1">Average grade:&ensp;No reviews</p>
                            <p>Description:&ensp;{{cottage.description}}</p>
                            <p>Rules:&ensp;{{cottage.rules}}</p>
                            <p>Room number:&ensp;{{cottage.roomNumber}}</p>
                            <p>Bed number:&ensp;{{cottage.bedNumber}}</p>
                            <p>Price per day:&ensp;{{cottage.pricePerDay}}</p>
                            <p>Location:&ensp;{{cottage.location.streetName}}, {{cottage.location.cityName}}, {{cottage.location.countryName}}</p>
                            <p>Additional services:&ensp;{{cottage.additionalServices}}</p>
                            <p>Owner's name:&ensp;{{cottage.cottageOwner.firstName}} {{cottage.cottageOwner.lastName}}</p>
                            <p>Owner's eMail:&ensp;{{cottage.cottageOwner.email}}</p>
                            <p>Owner's phone number:&ensp;{{cottage.cottageOwner.phoneNumber}}</p>
                            <button *ngIf="role==='ROLE_COTTAGE_OWNER'" id="updateButton" class="btn btn-primary" (click)="updateCottage()">
                                <strong>Update cottage</strong>
                            </button>
                            <button *ngIf="role==='ROLE_COTTAGE_OWNER'" id="viewVisitReportButton" class="btn btn-primary" [routerLink]="['../../visit-report/', cottage.id]" style="margin-left: 50px;">
                                <strong>View visit report</strong>
                            </button>
                            <button *ngIf="role==='ROLE_COTTAGE_OWNER'" ="!cottage.deletable" id="viewVisitReportButton" class="btn btn-primary" (click)="deleteCottage()" style="margin-left: 50px;">
                                <strong>Delete cottage</strong>
                            </button>
                            <button *ngIf="role==='ROLE_CLIENT'" [disabled]="!canAddReview" id="reviewButton" class="btn btn-primary" (click)="addReview()">
                                <strong>Add new review</strong>
                            </button>
                            <button *ngIf="role==='ROLE_CLIENT'" [disabled]="!canAddComplaint" id="complaintButton" class="btn btn-primary" (click)="addComplaint()">
                                <strong>Add new complaint</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>Location on map</p>
<div id="map" name="map" class="map"></div>
<div class="row">
    <div class="container mb-3">
        <div *ngIf="cottage.pictures?.length" class="table-responsive m-1">
            <div class="panel-heading m-3">
                <h2>Pictures</h2>
            </div>
            <table class="table table-bordered table-striped table-hover" id="picturesTable">
                <tbody>
                    <tr *ngFor='let picture of cottage.pictures'>
                        <td><img [src]="picture.data" class="text-center mb-3" style="max-width: 700px;max-height: 700px;" alt="..."></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!cottage.pictures?.length">No pictures recorded</h3>
    </div>
    <div class="container mb-3" >
        <div *ngIf="cottage.availabilityPeriods?.length" class="table-responsive m-1">
            <div class="panel-heading m-3">
                <h2>Availability periods</h2>
            </div>
            <table class="table table-bordered table-striped table-hover" id="picturesTable">
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let period of cottage.availabilityPeriods'>
                        <td>{{period.startDate | date:'dd.MM.yyyy.'}}</td>
                        <td>{{period.endDate | date:'dd.MM.yyyy.'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!cottage.availabilityPeriods?.length">
            This cottage has no availability periods
        </h3>
        <button *ngIf="role==='ROLE_COTTAGE_OWNER'" id="updateButton" class="btn btn-primary" (click)="addAvailabiltiyPeriod()">
            <strong>Add new availability period</strong>
        </button>
    </div>
    <div class="container mb-3" >
        <div *ngIf="cottage.cottageReservations?.length" class="table-responsive m-1">
            <div class="panel-heading m-3">
                <h2>Reservations</h2>
            </div>
            <table class="table table-bordered table-striped table-hover" id="picturesTable">
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th *ngIf="role==='ROLE_COTTAGE_OWNER'">Client name</th>
                        <th *ngIf="role==='ROLE_COTTAGE_OWNER'">Number of people</th>
                        <th *ngIf="role==='ROLE_COTTAGE_OWNER'">Additional services</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let res of cottage.cottageReservations' (dblclick)="doubleClickResFunction(res.id)">
                        <td>{{res.startDate | date:'dd.MM.yyyy.'}}</td>
                        <td>{{res.endDate | date:'dd.MM.yyyy.'}}</td>
                        <td *ngIf="role==='ROLE_COTTAGE_OWNER'"><a [routerLink]="['../../user-public-info/',res.clientId]">{{res.clientFullName}}</a></td><!--izmeniti-->
                        <td *ngIf="role==='ROLE_COTTAGE_OWNER'">{{res.numberOfPeople}}</td>
                        <td *ngIf="role==='ROLE_COTTAGE_OWNER'">{{res.cottageReservationTag}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!cottage.cottageReservations?.length">
            This cottage has no reservations
        </h3>
        <button *ngIf="role==='ROLE_COTTAGE_OWNER'" id="updateButton" class="btn btn-primary" (click)="addReservation()">
            <strong>Add new reservation</strong>
        </button>
    </div>
    <div class="container mb-3" >
        <div *ngIf="cottage.cottageActions?.length" class="table-responsive m-1">
            <div class="panel-heading m-3">
                <h2>Actions</h2>
            </div>
            <table class="table table-bordered table-striped table-hover" id="picturesTable">
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Valid until and including</th>
                        <th>Discount</th>
                        <th>Price</th>
                        <th>Reserved?</th>
                        <th *ngIf="role==='ROLE_COTTAGE_OWNER'">Client name</th>
                        <th *ngIf="role==='ROLE_COTTAGE_OWNER'">Number of people</th>
                        <th *ngIf="role==='ROLE_COTTAGE_OWNER'">Additional services</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let act of cottage.cottageActions' (dblclick)="doubleClickActFunction(act.id)">
                        <td>{{act.startDate | date:'dd.MM.yyyy.'}}</td>
                        <td>{{act.endDate | date:'dd.MM.yyyy.'}}</td>
                        <td>{{act.validUntilAndIncluding | date:'dd.MM.yyyy.'}}</td>
                        <td>{{act.discount}}</td>
                        <td>{{act.price}}</td>
                        <td>{{act.reserved}}</td>
                        <td *ngIf="role==='ROLE_COTTAGE_OWNER'&&act.reserved"><a [routerLink]="['../../user-public-info/',act.clientId]">{{act.clientFullName}}</a></td><!--izmeniti-->
                        <td *ngIf="role==='ROLE_COTTAGE_OWNER'&&!act.reserved">No client</td>
                        <td *ngIf="role==='ROLE_COTTAGE_OWNER'">{{act.numberOfPeople}}</td>
                        <td *ngIf="role==='ROLE_COTTAGE_OWNER'">{{act.additionalServices}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 *ngIf="!cottage.cottageActions?.length">
            This cottage has no actions
        </h3>
        <button *ngIf="role==='ROLE_COTTAGE_OWNER'" class="btn btn-primary" (click)="addAction()">
            <strong>Add new action</strong>
        </button>
    </div>
</div>
<full-calendar [options]="calendarOptions"></full-calendar>