h2 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}

.content {
    padding: 35px;
    text-align: center;
}

.input-field {
    padding: 12px 5px;
}

input {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
}

.input-field input::-moz-placeholder {
    text-transform: uppercase;
}

.input-field input:-ms-input-placeholder {
    text-transform: uppercase;
}

.input-field input::-ms-input-placeholder {
    text-transform: uppercase;
}

.input-field input::placeholder {
    text-transform: uppercase;
}

.input-field input:focus {
    border-color: #222;
}

.action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #D7D7D7;
}

.action button:hover {
    background: #d8d8d8;
}