<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-6">
            <div class="card shadow-1-strong" style="border-radius: 1rem;">
                <h2>Edit fishing trip pictures</h2>

                <div class="content">
                    <div style="text-align: center;">
                        <label style="margin-right: 10px;">Picture:</label>
                        <input type="file" [(ngModel)]="file1" accept="image/png, image/jpeg"/> 
                    </div>

                    <p style="padding: 20px 0px 0px 0px; color: red; font-size: large;">{{errorMessage}}</p>
                </div>
                <div class="action">
                    <button [disabled]="formInvalid()">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>