<div class="panel panel-primary m-1">
    <div class="panel-heading m-3">
        <h2>New fishing trip reservation</h2>
    </div>
    <div class="form-control form-control-lg  m-1">
        <div>
            <p>Start date:</p>
            <mat-form-field appearance="fill">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="startDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <p>Number of days:</p>
            <input type="text" class="form-control mb-1" id="numberOfDays" [(ngModel)]="numberOfDays" placeholder="0" required>
        </div>
        <div>
            <p>Number of people:</p>
            <input type="text" class="form-control mb-1" id="numberOfPeople" [(ngModel)]="numberOfPeople" placeholder="0" required>
        </div>
        <button mat-raised-button color="primary" (click)="filterTrips()">Filter trips</button>
    </div>

    <div *ngIf="fishingTrips?.length" class="table-responsive m-1">
        <table class="table table-bordered table-striped table-hover" id="fishingTripsTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Max people</th>
                    <th>Price per day</th>
                    <th>Owner</th>
                    <th>Grade</th>
                    <th>Additional services</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let fishingTrip of fishingTrips' (dblclick)="doubleClickFunction(fishingTrip.id)">
                    <td>{{fishingTrip.name}}</td>
                    <td>{{fishingTrip.location.streetName}}, {{fishingTrip.location.cityName}}, {{fishingTrip.location.countryName}}</td>
                    <td>{{fishingTrip.maxPeople}}</td>
                    <td>{{fishingTrip.costPerDay}}</td>
                    <td>{{fishingTrip.fishingInstructor.firstName}} {{fishingTrip.fishingInstructor.lastName}}</td>
                    <td>{{fishingTrip.grade}}</td>
                    <td>{{fishingTrip.fishingTripReservationTags}}</td>
                    <button mat-raised-button color="primary" (click)="makeReservation(fishingTrip.id, fishingTrip.fishingTripReservationTags)">Make reservation</button>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!fishingTrips?.length">
        No fishing trips registered
    </div>
</div>
