<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-6">
            <div class="card shadow-1-strong" style="border-radius: 1rem;">
                <form [formGroup]="passwordForm" (submit)="onSubmit()">
                    <h1>Change password</h1>

                    <div class="content">
                        <div class="input-field" style="width: 50%; display: inline-block;">
                            <input type="password" placeholder="Password *" formControlName="password">
                        </div>
                        <div class="input-field" style="width: 50%; display: inline-block;">
                            <input type="password" placeholder="Repeat password *" formControlName="repeatPassword">
                        </div>
                    </div>
                    <div class="action">
                        <button type="submit" [disabled]="!passwordForm.valid || passwordForm.get('password').value !== passwordForm.get('repeatPassword').value">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>