<div class="panel panel-primary m-1">
    <div class="panel-heading m-3">
        <h2>Boat list</h2>
    </div>
    <div class="form-control form-control-lg  m-1">
        <input class="m-1" [(ngModel)]="SearchString" (keyup)="FilterFn()" placeholder="Filter">
        <button *ngIf="role === 'ROLE_CLIENT'" mat-raised-button color="primary" (click)="makeReservation()">Make reservation</button>
    </div>
    <div *ngIf="boats?.length" class="table-responsive m-1">
        <table class="table table-bordered table-striped table-hover" id="boatsTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <td>Average grade</td>
                    <th>Max people</th>
                    <th>Price per day</th>
                    <th>Type</th>
                    <th>Owner</th>
                    <th>Additional services</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let boat of boats' (dblclick)="doubleClickFunction(boat.id)">
                    <td>{{boat.name}}</td>
                    <td>{{boat.location.cityName}}, {{boat.location.countryName}}</td>
                    <td *ngIf="boat.grade !== -1">{{boat.grade}}</td>
                    <td *ngIf="boat.grade === -1">No reviews</td>
                    <td>{{boat.maxPeople}}</td>
                    <td>{{boat.pricePerDay}}</td>
                    <td>{{boat.type}}</td>
                    <td>{{boat.boatOwner.firstName}} {{boat.boatOwner.lastName}}</td>
                    <td>{{boat.additionalServices}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!boats?.length">
        No boats registered
    </div>
    <button *ngIf="role==='ROLE_BOAT_OWNER'" class="btn btn-primary" [routerLink]="['../','new-boat']">
        <strong>Create new boat</strong>
    </button>

</div>