<div class="vh-100" style="background-color: #508bfc;">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
    		<div class="col-12 col-md-8 col-lg-6 col-xl-5">
    			<div class="card shadow-2-strong" style="border-radius: 1rem;">
    				<div class="card-body px-5 text-center">
						<h3 class="mb-3">Sign in</h3>

						<mdb-form-control class="mb-3">
							<input mdbInput type="text" id="formEmail" class="form-control" />
							<label mdbLabel class="form-label" for="formEmail">Email</label>
						</mdb-form-control>

						<mdb-form-control class="mb-4">
							<input mdbInput type="password" id="formPassword" class="form-control" />
							<label mdbLabel class="form-label" for="formPassword">Password</label>
						</mdb-form-control>

						<button class="btn btn-primary btn-lg btn-block w-50 offset-3">Login</button>
          			</div>
        		</div>
      		</div>
    	</div>
	</div>
</div>